
.carousel_container {
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: rgb(235, 235, 235);
  font-family: 'Open-sans', sans-serif;
  padding: 100px 0 100px 60px;
  .slideshow-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    .mySlides {
      display: none;
    }
    .visible {
      display: block;
    }
  }
  .prevSlide {
    flex-basis: 10%;
    cursor: pointer;
    color: $buttonsColor;
  }
  .nextSlide {
    flex-basis: 10%;
    cursor: pointer;
    color: $buttonsColor;
  }
}