.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100vw;
  .slideshow-container {
    flex-basis: 80%;
    .mySlides {
      display: none;
    }
    .visible {
      display: block;
    }
  }
  .prevSlide {
    flex-basis: 10%;
    cursor: pointer;
  }
  .nextSlide {
    flex-basis: 10%;
    cursor: pointer;
  }
}
