.main-view-header{
  width: 100%;
  background-color: $headerColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    margin: 10px 15px;
    font-family: charmonman, sans-serif;
    font-size: 2rem;
    .logo__first_element{
      color: $logoMainColor;
    }
    .logo__second_element{
      color: $logoAlternativeColor;
    }
  }
  .user-info{
    font-family: open_sans, sans-serif;
    margin: 0 50px;
    display: flex;
    align-items: center;
    .user-info__name{
      font-size: 1.5rem;
      margin: auto 20px;
      color: white;
    }
    .user-info__photo{
      font-size: 2.5rem;
      color: $logoAlternativeColor;
    }
  }
}

.main-section{
display: flex;
  .nav{
    background-color: $sidePanelNavColor;
    width: 17%;
    height: 100vh;
    .nav__element{
      width: 100%;
      display: inline-block;
      color: $logoMainColor;
      font-family: open_sans, sans-serif;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      padding: 20px 15px;
      //margin: 15px 0;
      position: relative;
      &:before{
        content: '';
        height: 0;
        width: 4px;
        background-color: $logoAlternativeColor;
        position: absolute;
        left: 0;
        top: 0;
        transition: height 600ms;
      }
      &:hover:before{
        height: 100%;
      }

    }
  }

  .content-container{
    width: 100%;
    height: auto;
    background-image: url("../images/background.png");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
  }

}
