.notifications-container {
    display: flex;
    flex-direction: column;
    width: 550px;
    .notifications-container_element {
        font-family: 'Open-sans', sans-serif;
        display: flex;
        justify-content: space-between;
        border: 2px dashed;
        background-color: $screensBackgroundColor;
        height: 45px;
        font-size: 18px;
        &:first-of-type {
            margin-bottom: 20px;
        }
        &:last-of-type{
            margin-top: 20px;
        }
        .notification_text {
            margin-top: 9px;
        }

        > i {
            margin-top: 5px;
            margin-left: 5px;
            font-size: 30px;
        }
        .exit_notification {
            margin:5px 5px 0 0;
            font-size: 15px;
        }

        }
        .information {
            border-color: $infoMessageColor;
            > i {
                color:$infoMessageColor;
            }
            .notification_text {
                color: $infoMessageColor;
            }
            .exit_notification {
                color:$infoMessageColor;
            }
        }
        
        .warning {
            border-color: $warningMessageColor;
            > i {
                color:$warningMessageColor;
            }
            .notification_text {
                color:$warningMessageColor;
            }
            .exit_notification {
                color:$warningMessageColor;
            }

        }

        .success {
            border-color: $successMessageColor;
            > i {
                color:$successMessageColor;
            }
            .notification_text {
               color: $successMessageColor;
            }
            .exit_notification {
                color:$successMessageColor;
            }
        }
    
}

