.container {
  display: flex;
  width: 1000px;
  height: auto;
  padding: 100px;
  .zdjecie {
    width: 400px;
    height: auto;
    background-color: gray;
  }
  .opis {
    padding-left: 40px;
  }
}