//.container {
//  display: flex;
//  width: 1000px;
//  height: auto;
//  padding: 100px;
//  font-family: open_sans;
//  font-size: 14px;
//  .zdjecie {
//    width: 400px;
//    height: auto;
//    background-color: gray;
//  }
//  .opis {
//    padding-left: 40px;
//  }
//}

.container {
  display: flex;
  width: 100%;
  padding: 100px;
  font-family: 'Open-sans', sans-serif;
  font-size: 14px;
  background-color: rgb(235, 235, 235);
  .zdjecie {
    width: 400px;
    height: 200px;
    background-color: gray;
  }
  .opis {
    padding-top:50px;
    padding-left: 40px;
  }
}