
$sidePanelNavColor : #5B605F; //panel boczny, nawigacja
$headerColor : #4a4a49; //nagłówek, , kolor tekstu w kolumnach
$buttonsColor : #FF6600; //przyciski, wyróżnienia, nagłówki ekranów
$screensBackgroundColor : #FFFFFA; //kolor tła ekranów
$infoMessageColor : #3498DB; //kolor wiadomości typu info
$warningMessageColor : #FFB03B; //kolor wiadomości typu warning
$successMessageColor : #468966; //kolor wiadomości typu success
$binIconColor : #BD4932; //kolor ikony kosza
$tableTextColor : #A1A194; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$logoMainColor: white;
$logoAlternativeColor: #E58A20;
